<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="/js/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/js/themes/icon.css">
<!--
	<link rel="stylesheet" type="text/css" href="../../static/js/demo.css">
-->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
</head>
<body>
	<h2>Welcome to LEGFREE!</h2>
	<div style="margin:20px 0;"></div>
	<div class="easyui-panel" style="width:400px;padding:50px 60px">
		<div style="margin-bottom:20px">
			<input class="easyui-textbox" prompt="Username" id="username" iconWidth="28" style="width:100%;height:34px;padding:10px;">
		</div>
		<div style="margin-bottom:20px">
			<input id="password" class="easyui-passwordbox" prompt="Password" id="password" iconWidth="28" style="width:100%;height:34px;padding:10px">
		</div>
		<div style="margin-bottom:20px">
			<a href="#" class="easyui-linkbutton" onclick="getLogIn()">log in</a>
		</div>		
	</div>
	<div id="viewer"></div>

	<script type="text/javascript">
		// The js of hiding and showing the password
		$('#pass').passwordbox({
			inputEvents: $.extend({}, $.fn.passwordbox.defaults.inputEvents, {
				keypress: function(e){
					var char = String.fromCharCode(e.which);
					$('#viewer').html(char).fadeIn(200, function(){
						$(this).fadeOut();
					});
				}
			})
		})
		
		function getLogIn(){
			//record the user information
			var user_id = $("#username").text();
			var pwd = $("#password").text();
			//use ajax to send data to back-end for checking the validation of user and get certain return from back-end
			$.ajax({
					type:'post',
					url:"/doLogin",
					data:{
					userAccount:user_id,
					password:pwd,
					},
/*
					datatType:'json',
*/
					success:function(data){
						var obj=eval("("+data+")");
						var type=obj.type;
						var login_sts = obj.state;
						// Jump to the different page according to the user's  login status and limits of authority
						if(type == "3" && login_sts =="1"){
							url1 = "manager.html?user_id="+user_id;
							window.location.href = url1;
						}else if(type =="1" && login_sts =="1"){
							url1 = "operator.html?user_id="+user_id;
							window.location.href = url1;
						}else if(type =="5" && login_sts =="1"){
							url1 = "consumer.html?user_id="+user_id;
							window.location.href = url1;
						}else{
							// login denied
							alert("Username or password is wrong！");
						}
						
					}
				});		
			
		}
	</script>
	<style>
		#viewer{
			position: relative;
			padding: 0 60px;
			top: -70px;
			font-size: 54px;
			line-height: 60px;
		}
		
		


		
	</style>
</body>
</html>