<!DOCTYPE html>
<html lang="en" xmlns:v-for="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="application/javascript" src="/js/axios.js"></script>
    <script type="application/javascript" src="/js/vue.js"></script>
</head>
<body>


<div id="app">
    <table>
        <tr>
            <td>vehicleId</td>
            <td>vehicleName</td>
            <td>vehicleLocation</td>
            <td>vehicleFree</td>
            <td>vehicleDurable</td>
            <td>vehicleBattery</td>
            <td>vehicleState</td>
        </tr>
        <tr v-for="item in bikeData">
            <td>{{item.vehicleId}}</td>
            <td>{{item.vehicleName}}</td>
            <td>{{item.vehicleLocation}}</td>
            <td>{{item.vehicleFree}}</td>
            <td>{{item.vehicleDurable}}</td>
            <td>{{item.vehicleBattery}}</td>
            <td>{{item.vehicleState}}</td>
        </tr>
    </table>

    <div>
        <div>

        </div>
        <div>

        </div>
        <input id="vehicleId" placeholder="vehicleId">
        <input id="time" placeholder="time">
        <input id="location"placeholder="location">
        <button id="ok" onclick="jump()">ok</button>
    </div>
</div>
<div>
    <button id="order" onclick="order()">order</button>
</div>
    <input id="issueVehicleId" placeholder="vehicleId">
    <input id="message" placeholder="message">

    <button id="report" onclick="report()">report</button>
<div>

</div>
</body>
<script>
    var vm=new Vue({
        el:"#app",
        data:{
            bikeData:[]
        },
        mounted(){

            axios({
                method:"get",
                url:"/vehicle/getVehicleInfo",

            }).then(response=>{
                this.bikeData=response.data;
            });
        },
        methods:{

        }
    });


</script>

<script type="text/javascript">

    function jump(){
        var vehicleId = document.getElementById("vehicleId").value;
        var time = document.getElementById("time").value;
        var location = document.getElementById("location").value;
        //参数
        axios({
            method: "POST",
            url: "/vehicle/setVehicleStateById",
            data: {
                vehicleId: vehicleId,
                time: time,
                location: location
            }
        }).then(
            response=>{
                window.location.href="/orderInfo";

            }
        );
    }
</script>

<script type="text/javascript">

    function order(){

        window.location.href="/orderInfo";
        // var vehicleId = document.getElementById("vehicleId").value;
        // var time = document.getElementById("time").value;
        // var location = document.getElementById("location").value;
        // //参数
        // axios({
        //     method: "POST",
        //     url: "/vehicle/setVehicleStateById",
        //     data: {
        //         vehicleId: vehicleId,
        //         time: time,
        //         location: location
        //     }
        // }).then(
        //     response=>{
        //         window.location.href="/orderInfo";
        //
        //     }
        // );
    }
</script>


<script type="text/javascript">

    function report(){
        var vehicleId = document.getElementById("issueVehicleId").value;
        var message = document.getElementById("message").value;

        //参数
        axios({
            method: "POST",
            url: "/errorInfo/insertErrorInfo",
            data: {
                vehicleId: vehicleId,
                message: message,
            }
        }).then(
            response=>{
                window.location.href="/orderInfo";

            }
        );
    }
</script>



</html>