<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glasgow.tapp.dao.UserDao">
<!--查找用户信息-->
    <select id="selectUser" resultType="com.glasgow.tapp.pojo.User">
        select user_id,user_name,level,created_time,update_time
        from user
        <where>
            <if test="searchValue!='' and searchValue!=null">
                user_id like '{searchValue}%' or user_name like '%{searchValue}%'
            </if>
            <if test="time1!='' and time1!=null">
                <![CDATA[and created_time<=#{time1}]]>
            </if>
            <if test="time2!='' and time2!=null">
                <![CDATA[and created_time>=#{time2}]]>
            </if>
        </where>
        order by created_time desc
        limit ${limit}
    </select>

<!--查找用户返回数量-->
    <select id="searchUserReturnNum" resultType="Integer">
        select count(*) from user
        <where>
            <if test="searchValue!='' and searchValue!=null">
                user_id like '{searchValue}%' or user_name like '%{searchValue}%'
            </if>
            <if test="time1!='' and time1!=null">
                <![CDATA[and created_time<=#{time1}]]>
            </if>
            <if test="time2!='' and time2!=null">
                <![CDATA[and created_time>=#{time2}]]>
            </if>
        </where>
    </select>
<!--按照用户id查找-->
    <select id="selectUserById">
        select * from user
        where user_id=${userId}
    </select>
<!--根据用户名或ID查找用户(用于登录功能)-->
    <select id="selectUserByAccount" resultType="com.glasgow.tapp.pojo.User">
        select * from user
        where user_id=#{account} or user_name=#{account}
    </select>
<!--通过用户名密码查找用户(用于登录功能)-->
    <select id="selectUserByAccountPassword" resultType="com.glasgow.tapp.pojo.User">
        select * from user
        where (user_id=#{account} or user_name=#{account})and password=#{password}
    </select>
<!--新增用户-->
    <insert id="insertUser" parameterType="com.glasgow.tapp.pojo.User" useGeneratedKeys="true" keyProperty="userId">
        insert into user
        (user_name,password,salt,level,created_time,update_time)
        values
        (#{userName},#{password},#{salt},5,now(),now())
    </insert>
<!--修改用户-->
    <update id="updateUser" parameterType="com.glasgow.tapp.pojo.User">
        update user
        set user_name=#{userName},
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            level=${level},
            update_time=now()
        where user_id=#{userId}
    </update>
<!--删除用户-->
    <delete id="deleteUser">
        delete from user
        <where>
            user_id in
            <if test="userIds!=null and userIds.length>0">
                <foreach collection="array" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </delete>


    <select id="getUserMoneyByUserName" resultType="com.glasgow.tapp.pojo.User">
        select * from user
        where  user_id=#{userId}
    </select>


    <update id="updateUserMoneyByUserId">
        update user
        set money=#{money}
        where user_id = #{userId}
    </update>


    <select id="getUserMoneyByUserId" resultType="int">
        select money from user
        where  user_id=#{userId}
    </select>



</mapper>