<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Manager Page</title>
	<link rel="stylesheet" type="text/css" href="/js/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/js/themes/icon.css">
	<!--
        <link rel="stylesheet" type="text/css" href="../demo.css">
    -->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/js/axios.js"></script>
	<script src="/js/highcharts.js"></script>
</head>
<body>
	<h2>Manager Page</h2>
	<div style="margin:20px 0;"></div>


	<table id="dg1" class="easyui-datagrid" title="Data of Renting" style="width:900px;height:250px"
		   data-options="rownumbers:true,singleSelect:true,url:url,method:'get',toolbar:'#tb',footer:'#ft'">
		<thead>
		<tr>
			<th data-options="field:'orderId',width:120">Order id</th>
			<th data-options="field:'userId',width:80">User Id</th>
			<th data-options="field:'vehicleId',width:80">vehicle Id</th>
			<th data-options="field:'time',width:80">Using time</th>
			<th data-options="field:'orderMoney',width:80">Fees</th>
			<th data-options="field:'state',width:80">Order state</th>
			<th data-options="field:'createTime',width:140">Create Time</th>
			<th data-options="field:'fromLocation',width:100">Departure</th>
			<th data-options="field:'toLocation',width:100">Destination</th>
		</tr>
		</thead>
	</table>
	<div id="tb" style="padding:2px 5px;">
		Date From: <input class="easyui-datebox" id="date1"  style="width:110px">
		To: <input class="easyui-datebox" id="date2" style="width:110px">
		<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">Search</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-back" onclick="doQuit()">Log out</a>
	</div>


	<div id="chart"></div>

<script type="text/javascript">
	var pre ='' ;

	$(function() {
		axios({
			method: "get",
			url: "/getStatistics",
			data:{

			}
		}).then(
				response => {
					console.log(response.data);
					pre = eval(response.data);
					var chart;
					$(function () {
						chart = new Highcharts.Chart({
							chart: {
								renderTo: 'chart',
								type: 'column'
							},
							title: {
								text: 'Statistics of vehicles'
							},
							subtitle: {
								text: ''
							},
							credits: {
								enabled: false
							},
							xAxis: {
								categories: ['Normal-Vec', 'Broken-Vec', 'LowBattery-Vec', 'InUse-Vec', 'Broken-Report', 'LowBattery-Report'],
							},
							yAxis: {
								min: 0,
								title: {
									text: 'quantity'
								}
							},
							legend: {
								layout: 'vertical',
								backgroundColor: '#FFFFFF',
								align: 'left',
								verticalAlign: 'top',
								x: 300,
								y: 30,
								floating: true,
								shadow: false
							},
							/*		tooltip: {
                        formatter: function() {
                            return '<b>'+ this.series.name +':</b>'+this.y +' 人';
                        }
                    },*/
							plotOptions: {
								column: {
									pointPadding: 0.2,
									borderWidth: 0,
									shadow: false
								}
							},
							series: [{
								name: 'quantity',
								data: pre

							}
							]
						});
					})
				}
		);

	});

	var user_id = '${userId}';
	var tmp_1 = '${tmp_1}';
	var tmp_2 = '${tmp_2}';
	var	url = '/order/getAllOrder';
	if(tmp_1 != "no"){
		url = '/order/getAllOrderByDate/'+ tmp_1 + ',' + tmp_2;
	}
	function doSearch(){
		var date1 = $("#date1").val();
		var date2 = $("#date2").val();
		if (date1 != "" || date1 != undefined){
			date1 = date1.replaceAll("/","-");
			date2 = date2.replaceAll("/","-");
			var tmp1 = date1.substring(6,10);
			date1 = tmp1.concat("-").concat(date1.substring(0,5));
			var tmp2 = date2.substring(6,10);
			date2 = tmp2.concat("-").concat(date2.substring(0,5));
			//		alert(date1);
			//		alert(date2)
			url1 = "/toManager/" + user_id+","+date1+","+date2;
			window.location.href = url1 ;
		}else{
			url1 = "/toManager/" + user_id+",no,no";
			window.location.href = url1 ;
		}


	}
	function doQuit() {
		url = "/toLogin";
		window.location.href = url;
	}
</script>


</body>
</html>