<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Consumer Page</title>
	<link rel="stylesheet" type="text/css" href="/js/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/js/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../demo.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
</head>
<body>
	<h2>Let's be leg free!</h2>
	<div style="margin:20px 0;"></div>
	<table class="easyui-datagrid" title="Vehicle List" style="width:700px;height:250px"
		   data-options="rownumbers:true,singleSelect:true,url:'vehicle/getVehicleInfo',method:'get',toolbar:toolbar">
		<thead>
		<tr>
			<th data-options="field:'vehicleId',width:100">Vehicle No</th>
			<th data-options="field:'vehicleName',width:80">Vehicle Name</th>
			<th data-options="field:'vehicleLocation',width:80,align:'right'">Location</th>
			<th data-options="field:'vehicleFree',width:80,align:'right'">Fee Per Hour</th>
			<th data-options="field:'vehicleDurable',width:240">Durablity</th>
			<th data-options="field:'vehicleBattery',width:240">Battery</th>
			<th data-options="field:'vehicleState',width:240">Status</th>
		</tr>
		</thead>
	</table>
	<script type="text/javascript">

		var toolbar = [{
			text:'Rent',
			iconCls:'icon-add',
			handler:function(){
				var row = $('#dg').datagrid('getSelected');
				url = "renting.html?user_id="+row.user_id+"&vehicle_no="+row.vehicle_no+"&vehicle_free="+row.vehicle_free+"&vehicle_loaction="+vehicle_location;
				window.location.href = url;
				}
		},{
			text:'Report',
			iconCls:'icon-cut',
			handler:function(){
				var row = $('#dg').datagrid('getSelected');
				url = "reporting.html?user_id="+row.user_id+"&vehicle_no="+row.vehicle_no;
			}
		},'-',{
			text:'Renting History',
			iconCls:'icon-save',
			handler:function(){
				url = "renting_history.html?user_id="+user_id;
				window.location.href = url;
			}
		}];
	</script>
</body>
</html>

<!--<html>-->
<!--<head>-->
<!--	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--	<meta name="renderer" content="webkit">-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--	<title>登录</title>-->
<!--	<script type="text/javascript" src="/js/axios.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--<script type="text/javascript">-->
<!--	function doLogin(){-->
<!--		var userName=document.getElementById("userName").value;-->
<!--		var password=document.getElementById("password").value;-->
<!--		//参数-->
<!--		axios({-->
<!--			method:"GET",-->
<!--			url:"/vehicle/getVehicleInfo",-->
<!--			data:{-->
<!--				userAccount:userName,-->
<!--				password:password-->
<!--			}-->
<!--		}).then(-->
<!--				response=>{-->
<!--					console.log(response.data);-->
<!--					if (response.data.state==1){-->
<!--						window.location.href="/test";-->
<!--						//document.getElementById("abc").innerText = response.data.state;-->
<!--					}-->
<!--				}-->
<!--		);-->
<!--	}-->
<!--</script>-->
<!--</html>-->